@font-face {
    font-family: 'Dahlia';
    src: url(./Dahlia-BF650061b1d9c43.otf);
}

body {
    height: calc(100vh - 16px);
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #333333;
    color: white;
    font-family: 'Dahlia', sans-serif;
    display: flex;
    flex-direction: column;
    
}

#header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#note-container {
    height: 70%;
    width: 50%;
    border: solid 2px white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

#note-input {
  height: 100px;
  width: 40%;  
}

.input {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    margin: 0;
    background-color: #dee4e7;
    color: #333333;
    padding-bottom: 10px;
    z-index: 1000;
}